# General .gitignore file for the Software folder of the repo.

# Ignore all object files.
*.[oa]

# Ignore all temp files from editors 
*~

# Ignore project files from eclipse
.cproject
.project

# Ignore eclipse project files
.cproject
.project

\#.*\#
io-board/stm32f4/.settings/
io-board/stm32f4/app/remote-controlled-flight/doc/latex/
io-board/stm32f4/app/testes/doc/
